.main-content {
    background-color: white;
    height: 100vh;
    width: 85%;
}



hr {
    color: rgba(255, 255, 255, .4);
    width: 90%;
    margin-top: 20px;
}

#com {
    width: 20px;
    margin-top: 30px;
    margin-left: 95px;

}

.components {
    color: white;
    margin-left: 20px;
}



h4 {
    color: white;
    font-size: 15px;



}

.addons {
    color: rgba(255, 255, 255, .4);
    font-size: 15px;
    margin-left: 20px;
    margin-top: 10px;
}

#page {
    width: 20px;
    margin-top: 20px;
    margin-left: 155px;
}

.page {
    color: white;
    margin-left: 20px;
}

.table {
    color: white;
    margin-top: 40px;

}

.container-1 {
    width: 180px;
    height: 220px;
    border: 1px solid rgba(58, 59, 69, .15);
    margin-left: 20px;
    margin-top: 30px;
    background-color: rgba(58, 59, 69, .15) !important;
    ;



}

img {
    object-fit: cover;
    width: 40px;
    margin-left: 60px;
    margin-top: 10px;

}

.pack {
    margin-left: 10px;

}


.input-groups {
    width: 500px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 20px;
    margin-left: 30px;


}

.input-group-appends {
    display: flex;
    width: 20px;
}

.inputs {
    font-size: .85rem;
    height: auto;
}

.control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
    display: block;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;

}

.border13-0 {
    border: 0 !important;
}

.bged-light {
    background-color: #f8f9fc !important;
}

.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    position: relative;
    z-index: 2;

}

.btn-primary {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df
}

.fas {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";



}

.fa-sm {
    font-size: .875em;

}

.navs {
    border: 1px solid #f8f9fc;
    height: 70px;
    background-color: #fff !important;
}

h2 {

    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    margin-left: 20px;
    margin-top: 20px;
}

.dash {
    display: flex;
    color: #5a5c69 !important
}

.earn {
    margin-left: 20px;
    padding-left: 10px;
    border: 1px solid white;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    width: 240px;
    height: 90px;
    border-left: 0.25rem solid #4e73df !important;
    font-weight: 700 !important;
    font-size: .7rem;

}

.fa-calendar {
    margin-left: 150px;
    color: #dddfeb !important;
}

.rolling-rom {
    color: #4e73df;

}

.roll2-rom {
    color: #4e73df;


}

.roll3-rom {
    color: #4e73df;



}

.roll4-rom {
    color: #4e73df;



}

.rolls1 {
    font-size: 20px;
    color: black;

}

.earn1 {
    margin-left: 50px;
    padding-left: 30px;
    border: 1px solid white;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    width: 240px;
    height: 90px;
    border-left: 0.25rem solid #1cc88a !important;
    font-weight: 700 !important;
    font-size: .7rem;
}

.rolls2 {
    font-size: 20px;
    color: black;
}

.fa-dollar-sign {
    margin-left: 150px;
    color: #dddfeb !important;
}

.earn2 {
    margin-left: 50px;
    padding-left: 10px;
    border: 1px solid white;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    width: 240px;
    height: 90px;
    border-left: 0.25rem solid #36b9cc !important;
    font-weight: 700 !important;
    font-size: .7rem;
}

.rolls3 {
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}

.fa-clipboard-list {
    margin-left: 150px;
    color: #dddfeb !important;
}

.earn3 {
    margin-left: 50px;
    padding-left: 30px;
    border: 1px solid white;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    width: 240px;
    height: 90px;
    border-left: 0.25rem solid #f6c23e !important;
    font-weight: 700 !important;
    font-size: .7rem;
}

.rolls4 {
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}

.fa-comments {
    margin-left: 150px;
    color: #dddfeb !important;
}

.text-gray-300 {
    display: flex;
}

.card-header {
    margin-top: 30px;
    width: 750px;
    height: 480px;
    margin-left: 20px;
    background-color: rgb(245, 245, 245);
    border: 1px solid white;
    border-radius: 5px;


}

.projects {
    margin-left: 20px;
    margin-top: 20px;
    color: #4e73df !important;
    font-weight: 700;
}

#file1 {
    width: 94%;
    margin-left: 20px;

}

.migration {
    margin-left: 550px;
}

.server {
    margin-left: 20px;
}

.Tracking {
    margin-left: 570px;
    margin-top: 20px;
}

.Sales {
    margin-left: 20px;


}

.sm {
    margin-top: 20px;
}

.Database {
    margin-left: 535px;
    margin-top: 20px;
}

.Customer {
    margin-left: 20px;


}

.sm1 {
    margin-top: 20px;
}

#file2 {
    width: 94%;
    margin-left: 20px;


}

.Details {
    margin-left: 575px;
    margin-top: 20px;
}

.Payout {
    margin-left: 20px;


}

.sm2 {
    margin-top: 20px;
}

#file3 {
    width: 94%;
    margin-left: 20px;

}


.Setup {
    margin-left: 530px;
    margin-top: 20px;
}

.Account {
    margin-left: 20px;
}

.sm3 {
    margin-top: 20px;
}

#file4 {
    width: 95%;
    margin-left: 20px;

}

.bar {
    background-color: rgb(245, 245, 245);
}


.container1 {
    margin-top: 20px;
    width: 1150px;
    height: 500px;
    margin-left: 10px;


}

.grid-container {


    display: flex;
    flex-wrap: wrap;



}

.grid-item1 {
    margin-top: 20px;
    margin-left: 30px;
    width: 356px;
    height: 470px;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);

}

.grid-item2 {
    margin-top: 20px;
    width: 530px;
    height: 450px;
    border-radius: 5px;
    margin-left: 20px;
    background-color: rgb(245, 245, 245);

}

.CB {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-body {
    margin-top: 30px;
    width: 120px;
    height: 80px;
    background-color: #4e73df;
    color: white;
    border-radius: 5px;
}

.card-body2 {
    margin-top: 30px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #1cc88a;
    color: white;
    width: 160px;
    height: 80px;
}

.card-body3 {
    margin-top: 20px;

    width: 150px;
    height: 80px;
    border-radius: 5px;
    background-color: #0dcaf0;
    color: white
}

.card-body4 {
    margin-top: 20px;
    margin-left: 16px;
    width: 160px;
    height: 80px;
    border-radius: 5px;
    background-color: #ffc107;
    color: white
}

.card-body5 {
    margin-top: 20px;

    width: 150px;
    height: 80px;
    border-radius: 5px;
    background-color: #dc3545;
    color: white
}

.card-body6 {
    margin-top: 20px;
    margin-left: 13px;
    width: 160px;
    height: 80px;
    border-radius: 5px;
    background-color: #858796;
    ;
    color: white
}

.card-body7 {
    margin-top: 20px;

    width: 150px;
    height: 80px;
    border-radius: 5px;
    background-color: #f8f9fc;
    color: black
}

.card-body8 {
    margin-top: 20px;
    margin-left: 13px;
    width: 160px;
    height: 80px;
    border-radius: 5px;
    background-color: #5a5c69;
    ;
    color: white
}

.text-white {
    color: rgba(0, 0, 0, .5) !important;
    margin-left: 20px;
}

#prime {
    margin-left: 20px;
}

.Illustrations {
    margin-left: 20px;
    color: #4e73df !important;
    font-weight: 700 !important;
}

#start {
    object-fit: cover;
    width: 300px;
    margin-right: 40px;

}

.add {
    margin-left: 10px;
    margin-top: 50px;
    color: black;

}

#draw {
    text-decoration: none;
}

#draw:hover {
    text-decoration: underline;
}

.browse {
    margin-left: 10px;
    text-decoration: none;
}

.browse:hover {
    text-decoration: underline;
}

.develop {
    width: 900px;
    height: 200px;
    margin-left: 60px;
    margin-top: 20px;
    background-color: rgb(245, 245, 245);
}

.development {
    margin-left: 20px;
    color: #4e73df !important;
    font-weight: 700 !important;
}

.p1 {
    margin-left: 20px;
    color: black;
}

.mb {
    margin-left: 20px;
    color: black;
}

@media  (max-width: 1200px) {
    .main-content {
        background-color: white;
        height: 100vh;
        width: 85%;
    }
    
    
    
    hr {
        color: rgba(255, 255, 255, .4);
        width: 90%;
        margin-top: 20px;
    }
    
    #com {
        width: 20px;
        margin-top: 30px;
        margin-left: 95px;
    
    }
    
    .components {
        color: white;
        margin-left: 20px;
    }
    
    
    
    h4 {
        color: white;
        font-size: 15px;
    
    
    
    }
    
    .addons {
        color: rgba(255, 255, 255, .4);
        font-size: 15px;
        margin-left: 20px;
        margin-top: 10px;
    }
    
    #page {
        width: 20px;
        margin-top: 20px;
        margin-left: 155px;
    }
    
    .page {
        color: white;
        margin-left: 20px;
    }
    
    .table {
        color: white;
        margin-top: 40px;
    
    }
    
    .container-1 {
        width: 180px;
        height: 220px;
        border: 1px solid rgba(58, 59, 69, .15);
        margin-left: 20px;
        margin-top: 30px;
        background-color: rgba(58, 59, 69, .15) !important;
        ;
    
    
    
    }
    
    img {
        object-fit: cover;
        width: 40px;
        margin-left: 60px;
        margin-top: 10px;
    
    }
    
    .pack {
        margin-left: 10px;
    
    }
    
    
    .input-groups {
        width: 500px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        margin-top: 20px;
        margin-left: 30px;
    
    
    }
    
    .input-group-appends {
        display: flex;
        width: 20px;
    }
    
    .inputs {
        font-size: .85rem;
        height: auto;
    }
    
    .control {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
        margin-bottom: 0;
        display: block;
        padding: 0.375rem 0.75rem;
        font-weight: 400;
        line-height: 1.5;
        color: #6e707e;
    
    }
    
    .border13-0 {
        border: 0 !important;
    }
    
    .bged-light {
        background-color: #f8f9fc !important;
    }
    
    .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        cursor: pointer;
        position: relative;
        z-index: 2;
    
    }
    
    .btn-primary {
        color: #fff;
        background-color: #4e73df;
        border-color: #4e73df
    }
    
    .fas {
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
    
    
    
    }
    
    .fa-sm {
        font-size: .875em;
    
    }
    
    .navs {
        border: 1px solid #f8f9fc;
        height: 70px;
        background-color: #fff !important;
    }
    
    h2 {
    
        font-size: 30px;
        font-weight: 400;
        line-height: 1.2;
        margin-left: 20px;
        margin-top: 20px;
    }
    
    .dash {
        display: flex;
        color: #5a5c69 !important
    }
    
    .earn {
        margin-left: 20px;
        padding-left: 10px;
        border: 1px solid white;
        background-color: rgb(245, 245, 245);
        border-radius: 5px;
        width: 240px;
        height: 90px;
        border-left: 0.25rem solid #4e73df !important;
        font-weight: 700 !important;
        font-size: .7rem;
    
    }
    
    .fa-calendar {
        margin-left: 150px;
        color: #dddfeb !important;
    }
    
    .rolling-rom {
        color: #4e73df;
    
    }
    
    .roll2-rom {
        color: #4e73df;
    
    
    }
    
    .roll3-rom {
        color: #4e73df;
    
    
    
    }
    
    .roll4-rom {
        color: #4e73df;
    
    
    
    }
    
    .rolls1 {
        font-size: 20px;
        color: black;
    
    }
    
    .earn1 {
        margin-left: 50px;
        padding-left: 30px;
        border: 1px solid white;
        background-color: rgb(245, 245, 245);
        border-radius: 5px;
        width: 240px;
        height: 90px;
        border-left: 0.25rem solid #1cc88a !important;
        font-weight: 700 !important;
        font-size: .7rem;
    }
    
    .rolls2 {
        font-size: 20px;
        color: black;
    }
    
    .fa-dollar-sign {
        margin-left: 150px;
        color: #dddfeb !important;
    }
    
    .earn2 {
        margin-left: 50px;
        padding-left: 10px;
        border: 1px solid white;
        background-color: rgb(245, 245, 245);
        border-radius: 5px;
        width: 240px;
        height: 90px;
        border-left: 0.25rem solid #36b9cc !important;
        font-weight: 700 !important;
        font-size: .7rem;
    }
    
    .rolls3 {
        font-size: 20px;
        color: black;
        margin-bottom: 20px;
    }
    
    .fa-clipboard-list {
        margin-left: 150px;
        color: #dddfeb !important;
    }
    
    .earn3 {
        margin-left: 50px;
        padding-left: 30px;
        border: 1px solid white;
        background-color: rgb(245, 245, 245);
        border-radius: 5px;
        width: 240px;
        height: 90px;
        border-left: 0.25rem solid #f6c23e !important;
        font-weight: 700 !important;
        font-size: .7rem;
    }
    
    .rolls4 {
        font-size: 20px;
        color: black;
        margin-bottom: 20px;
    }
    
    .fa-comments {
        margin-left: 150px;
        color: #dddfeb !important;
    }
    
    .text-gray-300 {
        display: flex;
    }
    
    .card-header {
        margin-top: 30px;
        width: 750px;
        height: 480px;
        margin-left: 20px;
        background-color: rgb(245, 245, 245);
        border: 1px solid white;
        border-radius: 5px;
    
    
    }
    
    .projects {
        margin-left: 20px;
        margin-top: 20px;
        color: #4e73df !important;
        font-weight: 700;
    }
    
    #file1 {
        width: 94%;
        margin-left: 20px;
    
    }
    
    .migration {
        margin-left: 550px;
    }
    
    .server {
        margin-left: 20px;
    }
    
    .Tracking {
        margin-left: 570px;
        margin-top: 20px;
    }
    
    .Sales {
        margin-left: 20px;
    
    
    }
    
    .sm {
        margin-top: 20px;
    }
    
    .Database {
        margin-left: 535px;
        margin-top: 20px;
    }
    
    .Customer {
        margin-left: 20px;
    
    
    }
    
    .sm1 {
        margin-top: 20px;
    }
    
    #file2 {
        width: 94%;
        margin-left: 20px;
    
    
    }
    
    .Details {
        margin-left: 575px;
        margin-top: 20px;
    }
    
    .Payout {
        margin-left: 20px;
    
    
    }
    
    .sm2 {
        margin-top: 20px;
    }
    
    #file3 {
        width: 94%;
        margin-left: 20px;
    
    }
    
    
    .Setup {
        margin-left: 530px;
        margin-top: 20px;
    }
    
    .Account {
        margin-left: 20px;
    }
    
    .sm3 {
        margin-top: 20px;
    }
    
    #file4 {
        width: 95%;
        margin-left: 20px;
    
    }
    
    .bar {
        background-color: rgb(245, 245, 245);
    }
    
    
    .container1 {
        margin-top: 20px;
        width: 1150px;
        height: 500px;
        margin-left: 10px;
    
    
    }
    
    .grid-container {
    
    
        display: flex;
        flex-wrap: wrap;
    
    
    
    }
    
    .grid-item1 {
        margin-top: 20px;
        margin-left: 30px;
        width: 356px;
        height: 470px;
        border-radius: 5px;
        background-color: rgb(245, 245, 245);
    
    }
    
    .grid-item2 {
        margin-top: 20px;
        width: 530px;
        height: 450px;
        border-radius: 5px;
        margin-left: 20px;
        background-color: rgb(245, 245, 245);
    
    }
    
    .CB {
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .card-body {
        margin-top: 30px;
        width: 120px;
        height: 80px;
        background-color: #4e73df;
        color: white;
        border-radius: 5px;
    }
    
    .card-body2 {
        margin-top: 30px;
        margin-left: 5px;
        border-radius: 5px;
        background-color: #1cc88a;
        color: white;
        width: 160px;
        height: 80px;
    }
    
    .card-body3 {
        margin-top: 20px;
    
        width: 150px;
        height: 80px;
        border-radius: 5px;
        background-color: #0dcaf0;
        color: white
    }
    
    .card-body4 {
        margin-top: 20px;
        margin-left: 16px;
        width: 160px;
        height: 80px;
        border-radius: 5px;
        background-color: #ffc107;
        color: white
    }
    
    .card-body5 {
        margin-top: 20px;
    
        width: 150px;
        height: 80px;
        border-radius: 5px;
        background-color: #dc3545;
        color: white
    }
    
    .card-body6 {
        margin-top: 20px;
        margin-left: 13px;
        width: 160px;
        height: 80px;
        border-radius: 5px;
        background-color: #858796;
        ;
        color: white
    }
    
    .card-body7 {
        margin-top: 20px;
    
        width: 150px;
        height: 80px;
        border-radius: 5px;
        background-color: #f8f9fc;
        color: black
    }
    
    .card-body8 {
        margin-top: 20px;
        margin-left: 13px;
        width: 160px;
        height: 80px;
        border-radius: 5px;
        background-color: #5a5c69;
        ;
        color: white
    }
    
    .text-white {
        color: rgba(0, 0, 0, .5) !important;
        margin-left: 20px;
    }
    
    #prime {
        margin-left: 20px;
    }
    
    .Illustrations {
        margin-left: 20px;
        color: #4e73df !important;
        font-weight: 700 !important;
    }
    
    #start {
        object-fit: cover;
        width: 300px;
        margin-right: 40px;
    
    }
    
    .add {
        margin-left: 10px;
        margin-top: 50px;
        color: black;
    
    }
    
    #draw {
        text-decoration: none;
    }
    
    #draw:hover {
        text-decoration: underline;
    }
    
    .browse {
        margin-left: 10px;
        text-decoration: none;
    }
    
    .browse:hover {
        text-decoration: underline;
    }
    
    .develop {
        width: 900px;
        height: 200px;
        margin-left: 60px;
        margin-top: 20px;
        background-color: rgb(245, 245, 245);
    }
    
    .development {
        margin-left: 20px;
        color: #4e73df !important;
        font-weight: 700 !important;
    }
    
    .p1 {
        margin-left: 20px;
        color: black;
    }
    
    .mb {
        margin-left: 20px;
        color: black;
    }
  
}
@media  (min-width: 800px) {
    .main-content {
        background-color: white;
        height: 100vh;
        width: 85%;
    }
    
    
    
    hr {
        color: rgba(255, 255, 255, .4);
        width: 90%;
        margin-top: 20px;
    }
    
    #com {
        width: 20px;
        margin-top: 30px;
        margin-left: 95px;
    
    }
    
    .components {
        color: white;
        margin-left: 20px;
    }
    
    
    
    h4 {
        color: white;
        font-size: 15px;
    
    
    
    }
    
    .addons {
        color: rgba(255, 255, 255, .4);
        font-size: 15px;
        margin-left: 20px;
        margin-top: 10px;
    }
    
    #page {
        width: 20px;
        margin-top: 20px;
        margin-left: 155px;
    }
    
    .page {
        color: white;
        margin-left: 20px;
    }
    
    .table {
        color: white;
        margin-top: 40px;
    
    }
    
    .container-1 {
        width: 180px;
        height: 220px;
        border: 1px solid rgba(58, 59, 69, .15);
        margin-left: 20px;
        margin-top: 30px;
        background-color: rgba(58, 59, 69, .15) !important;
        ;
    
    
    
    }
    
    img {
        object-fit: cover;
        width: 40px;
        margin-left: 60px;
        margin-top: 10px;
    
    }
    
    .pack {
        margin-left: 10px;
    
    }
    
    
    .input-groups {
        width: 500px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        margin-top: 20px;
        margin-left: 30px;
    
    
    }
    
    .input-group-appends {
        display: flex;
        width: 20px;
    }
    
    .inputs {
        font-size: .85rem;
        height: auto;
    }
    
    .control {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
        margin-bottom: 0;
        display: block;
        padding: 0.375rem 0.75rem;
        font-weight: 400;
        line-height: 1.5;
        color: #6e707e;
    
    }
    
    .border13-0 {
        border: 0 !important;
    }
    
    .bged-light {
        background-color: #f8f9fc !important;
    }
    
    .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        cursor: pointer;
        position: relative;
        z-index: 2;
    
    }
    
    .btn-primary {
        color: #fff;
        background-color: #4e73df;
        border-color: #4e73df
    }
    
    .fas {
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
    
    
    
    }
    
    .fa-sm {
        font-size: .875em;
    
    }
    
    .navs {
        border: 1px solid #f8f9fc;
        height: 70px;
        background-color: #fff !important;
    }
    
    h2 {
    
        font-size: 30px;
        font-weight: 400;
        line-height: 1.2;
        margin-left: 20px;
        margin-top: 20px;
    }
    
    .dash {
        display: flex;
        color: #5a5c69 !important
    }
    
    .earn {
        margin-left: 20px;
        padding-left: 10px;
        border: 1px solid white;
        background-color: rgb(245, 245, 245);
        border-radius: 5px;
        width: 240px;
        height: 90px;
        border-left: 0.25rem solid #4e73df !important;
        font-weight: 700 !important;
        font-size: .7rem;
    
    }
    
    .fa-calendar {
        margin-left: 150px;
        color: #dddfeb !important;
    }
    
    .rolling-rom {
        color: #4e73df;
    
    }
    
    .roll2-rom {
        color: #4e73df;
    
    
    }
    
    .roll3-rom {
        color: #4e73df;
    
    
    
    }
    
    .roll4-rom {
        color: #4e73df;
    
    
    
    }
    
    .rolls1 {
        font-size: 20px;
        color: black;
    
    }
    
    .earn1 {
        margin-left: 50px;
        padding-left: 30px;
        border: 1px solid white;
        background-color: rgb(245, 245, 245);
        border-radius: 5px;
        width: 240px;
        height: 90px;
        border-left: 0.25rem solid #1cc88a !important;
        font-weight: 700 !important;
        font-size: .7rem;
    }
    
    .rolls2 {
        font-size: 20px;
        color: black;
    }
    
    .fa-dollar-sign {
        margin-left: 150px;
        color: #dddfeb !important;
    }
    
    .earn2 {
        margin-left: 50px;
        padding-left: 10px;
        border: 1px solid white;
        background-color: rgb(245, 245, 245);
        border-radius: 5px;
        width: 240px;
        height: 90px;
        border-left: 0.25rem solid #36b9cc !important;
        font-weight: 700 !important;
        font-size: .7rem;
    }
    
    .rolls3 {
        font-size: 20px;
        color: black;
        margin-bottom: 20px;
    }
    
    .fa-clipboard-list {
        margin-left: 150px;
        color: #dddfeb !important;
    }
    
    .earn3 {
        margin-left: 50px;
        padding-left: 30px;
        border: 1px solid white;
        background-color: rgb(245, 245, 245);
        border-radius: 5px;
        width: 240px;
        height: 90px;
        border-left: 0.25rem solid #f6c23e !important;
        font-weight: 700 !important;
        font-size: .7rem;
    }
    
    .rolls4 {
        font-size: 20px;
        color: black;
        margin-bottom: 20px;
    }
    
    .fa-comments {
        margin-left: 150px;
        color: #dddfeb !important;
    }
    
    .text-gray-300 {
        display: flex;
    }
    
    .card-header {
        margin-top: 30px;
        width: 750px;
        height: 480px;
        margin-left: 20px;
        background-color: rgb(245, 245, 245);
        border: 1px solid white;
        border-radius: 5px;
    
    
    }
    
    .projects {
        margin-left: 20px;
        margin-top: 20px;
        color: #4e73df !important;
        font-weight: 700;
    }
    
    #file1 {
        width: 94%;
        margin-left: 20px;
    
    }
    
    .migration {
        margin-left: 550px;
    }
    
    .server {
        margin-left: 20px;
    }
    
    .Tracking {
        margin-left: 570px;
        margin-top: 20px;
    }
    
    .Sales {
        margin-left: 20px;
    
    
    }
    
    .sm {
        margin-top: 20px;
    }
    
    .Database {
        margin-left: 535px;
        margin-top: 20px;
    }
    
    .Customer {
        margin-left: 20px;
    
    
    }
    
    .sm1 {
        margin-top: 20px;
    }
    
    #file2 {
        width: 94%;
        margin-left: 20px;
    
    
    }
    
    .Details {
        margin-left: 575px;
        margin-top: 20px;
    }
    
    .Payout {
        margin-left: 20px;
    
    
    }
    
    .sm2 {
        margin-top: 20px;
    }
    
    #file3 {
        width: 94%;
        margin-left: 20px;
    
    }
    
    
    .Setup {
        margin-left: 530px;
        margin-top: 20px;
    }
    
    .Account {
        margin-left: 20px;
    }
    
    .sm3 {
        margin-top: 20px;
    }
    
    #file4 {
        width: 95%;
        margin-left: 20px;
    
    }
    
    .bar {
        background-color: rgb(245, 245, 245);
    }
    
    
    .container1 {
        margin-top: 20px;
        width: 1150px;
        height: 500px;
        margin-left: 10px;
    
    
    }
    
    .grid-container {
    
    
        display: flex;
        flex-wrap: wrap;
    
    
    
    }
    
    .grid-item1 {
        margin-top: 20px;
        margin-left: 30px;
        width: 356px;
        height: 470px;
        border-radius: 5px;
        background-color: rgb(245, 245, 245);
    
    }
    
    .grid-item2 {
        margin-top: 20px;
        width: 530px;
        height: 450px;
        border-radius: 5px;
        margin-left: 20px;
        background-color: rgb(245, 245, 245);
    
    }
    
    .CB {
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .card-body {
        margin-top: 30px;
        width: 120px;
        height: 80px;
        background-color: #4e73df;
        color: white;
        border-radius: 5px;
    }
    
    .card-body2 {
        margin-top: 30px;
        margin-left: 5px;
        border-radius: 5px;
        background-color: #1cc88a;
        color: white;
        width: 160px;
        height: 80px;
    }
    
    .card-body3 {
        margin-top: 20px;
    
        width: 150px;
        height: 80px;
        border-radius: 5px;
        background-color: #0dcaf0;
        color: white
    }
    
    .card-body4 {
        margin-top: 20px;
        margin-left: 16px;
        width: 160px;
        height: 80px;
        border-radius: 5px;
        background-color: #ffc107;
        color: white
    }
    
    .card-body5 {
        margin-top: 20px;
    
        width: 150px;
        height: 80px;
        border-radius: 5px;
        background-color: #dc3545;
        color: white
    }
    
    .card-body6 {
        margin-top: 20px;
        margin-left: 13px;
        width: 160px;
        height: 80px;
        border-radius: 5px;
        background-color: #858796;
        ;
        color: white
    }
    
    .card-body7 {
        margin-top: 20px;
    
        width: 150px;
        height: 80px;
        border-radius: 5px;
        background-color: #f8f9fc;
        color: black
    }
    
    .card-body8 {
        margin-top: 20px;
        margin-left: 13px;
        width: 160px;
        height: 80px;
        border-radius: 5px;
        background-color: #5a5c69;
        ;
        color: white
    }
    
    .text-white {
        color: rgba(0, 0, 0, .5) !important;
        margin-left: 20px;
    }
    
    #prime {
        margin-left: 20px;
    }
    
    .Illustrations {
        margin-left: 20px;
        color: #4e73df !important;
        font-weight: 700 !important;
    }
    
    #start {
        object-fit: cover;
        width: 300px;
        margin-right: 40px;
    
    }
    
    .add {
        margin-left: 10px;
        margin-top: 50px;
        color: black;
    
    }
    
    #draw {
        text-decoration: none;
    }
    
    #draw:hover {
        text-decoration: underline;
    }
    
    .browse {
        margin-left: 10px;
        text-decoration: none;
    }
    
    .browse:hover {
        text-decoration: underline;
    }
    
    .develop {
        width: 900px;
        height: 200px;
        margin-left: 60px;
        margin-top: 20px;
        background-color: rgb(245, 245, 245);
    }
    
    .development {
        margin-left: 20px;
        color: #4e73df !important;
        font-weight: 700 !important;
    }
    
    .p1 {
        margin-left: 20px;
        color: black;
    }
    
    .mb {
        margin-left: 20px;
        color: black;
    }
}
